.loginForm {
  //max-width: 300px;
}
.loginFormForgot {
  float: center !important;
  color: #3d3737 !important;
}

.loginFormButton {
  width: 100% !important;
}

.FormInput {
  width: 450px !important;
  height: 45px !important;
  border: solid 1px #858585 !important;
  border-radius: 8px !important;
  gap: 10px !important;

  svg {
    width: 18px !important;
    height: 18px !important;
  }

}