.loginForm {
  margin-top: 80px !important;
}

.loginFormForgot {
  color: var(--grey) !important;
  font-size: 18px;

  &:hover {
    color: var(--ligth-wine) !important;
  }
}

.loginFormButton {
  width: 100% !important;
}

.FormInput {
  width: 450px !important;
  height: 45px !important;
  border: solid 1px var(--grey) !important;
  border-radius: 8px !important;
  gap: 10px !important;

  svg {
    width: 18px !important;
    height: 18px !important;
  }
}
