.button__container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: -10px;
}

.button {
  display: flex;
  height: 40px;
  padding: 0;
  background: var(--ligth-grey);
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background: var(--dark-grey);
}

.button:active {
  background: var(--grey);
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #000;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}

.linha-horizontal {
  height: 1px;
  background: linear-gradient(to right, transparent, #ccc, transparent);
  border: none;
  margin: 20px 10px;
}