
/*
.stepItem  {
  & span {
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
  }

  & svg {
    width: 22px;
    height: 22px;
    margin-top: 5px;
  
  }

  color: var(--white);

  [class~="ant-steps-item-icon"] {
    background-color: var(--ligth-wine) !important;
    border-color: var(--dark-red) !important;
  }

  [class~="ant-steps-icon"] {
    color: var(--white) !important;
  }

  :where([class^="ant-steps-item-title"])::after {
    background-color:#000 !important;
  }
 

}*/
 